@font-face{font-family:"Material Design Icons";src:url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.woff2?v=7.4.47") format("woff2");font-weight:normal;font-style:normal;font-display:block}
.mdi:before,.mdi-set{display:inline-block;font:normal normal normal 24px/1 "Material Design Icons";font-size:inherit;text-rendering:auto;line-height:inherit;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.mdi-account::before{content:"\F0004"}
.mdi-account-tie::before{content:"\F0CE3"}
.mdi-arrow-down::before{content:"\F0045"}
.mdi-arrow-up::before{content:"\F005D"}
.mdi-brain::before{content:"\F09D1"}
.mdi-briefcase::before{content:"\F00D6"}
.mdi-cached::before{content:"\F00E8"}
.mdi-calendar::before{content:"\F00ED"}
.mdi-cart::before{content:"\F0110"}
.mdi-chart-scatter-plot::before{content:"\F0E92"}
.mdi-check::before{content:"\F012C"}
.mdi-checkbox-blank-outline::before{content:"\F0131"}
.mdi-checkbox-marked::before{content:"\F0132"}
.mdi-chevron-left::before{content:"\F0141"}
.mdi-chevron-right::before{content:"\F0142"}
.mdi-circle::before{content:"\F0765"}
.mdi-close::before{content:"\F0156"}
.mdi-close-circle::before{content:"\F0159"}
.mdi-cloud-upload::before{content:"\F0167"}
.mdi-code-tags::before{content:"\F0174"}
.mdi-console-line::before{content:"\F07B7"}
.mdi-database::before{content:"\F01BC"}
.mdi-download::before{content:"\F01DA"}
.mdi-earth::before{content:"\F01E7"}
.mdi-email::before{content:"\F01EE"}
.mdi-eyedropper::before{content:"\F020A"}
.mdi-folder-outline::before{content:"\F0256"}
.mdi-git::before{content:"\F02A2"}
.mdi-github::before{content:"\F02A4"}
.mdi-information::before{content:"\F02FC"}
.mdi-language-python::before{content:"\F0320"}
.mdi-laptop::before{content:"\F0322"}
.mdi-leaf::before{content:"\F032A"}
.mdi-linkedin::before{content:"\F033B"}
.mdi-medal::before{content:"\F0987"}
.mdi-medical-bag::before{content:"\F06EF"}
.mdi-menu::before{content:"\F035C"}
.mdi-menu-down::before{content:"\F035D"}
.mdi-message-text::before{content:"\F0369"}
.mdi-minus::before{content:"\F0374"}
.mdi-minus-box::before{content:"\F0375"}
.mdi-monitor-dashboard::before{content:"\F0A07"}
.mdi-nodejs::before{content:"\F0399"}
.mdi-page-first::before{content:"\F0600"}
.mdi-page-last::before{content:"\F0601"}
.mdi-paperclip::before{content:"\F03E2"}
.mdi-pencil::before{content:"\F03EB"}
.mdi-phone-message::before{content:"\F1196"}
.mdi-play-circle::before{content:"\F040C"}
.mdi-plus::before{content:"\F0415"}
.mdi-radiobox-blank::before{content:"\F043D"}
.mdi-radiobox-marked::before{content:"\F043E"}
.mdi-react::before{content:"\F0708"}
.mdi-robot::before{content:"\F06A9"}
.mdi-rocket-launch::before{content:"\F14DE"}
.mdi-rotate-3d::before{content:"\F0EC7"}
.mdi-school::before{content:"\F0474"}
.mdi-send::before{content:"\F048A"}
.mdi-server::before{content:"\F048B"}
.mdi-star::before{content:"\F04CE"}
.mdi-star-half-full::before{content:"\F04D0"}
.mdi-star-outline::before{content:"\F04D2"}
.mdi-sync::before{content:"\F04E6"}
.mdi-table::before{content:"\F04EB"}
.mdi-text-box-outline::before{content:"\F09ED"}
.mdi-tools::before{content:"\F1064"}
.mdi-trophy::before{content:"\F0538"}
.mdi-trophy-award::before{content:"\F0539"}
.mdi-unfold-more-horizontal::before{content:"\F054F"}
.mdi-vuejs::before{content:"\F0844"}
.mdi-web::before{content:"\F059F"}
.mdi-18px.mdi-set,.mdi-18px.mdi:before{font-size:18px}.mdi-24px.mdi-set,.mdi-24px.mdi:before{font-size:24px}.mdi-36px.mdi-set,.mdi-36px.mdi:before{font-size:36px}.mdi-48px.mdi-set,.mdi-48px.mdi:before{font-size:48px}.mdi-spin:before{animation:mdi-spin 2s infinite linear}@keyframes mdi-spin{to{transform:rotate(359deg)}}
